.time {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.interactable {
  margin: 1rem;
  font-size: 16px;
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

/* Responsive - makes a one column layout instead of a multi-column layout */
@media (max-width: 1000px) {
  .rows {
    flex-direction: column;
  }
}

.selection {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.centered {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 10rem;
  padding-right: 10rem;
}

.desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
}

.chart {
  padding: 5px;
}

.result {
  font-size: 18px;
}

.padding_top_small {
  padding-top: 1rem;
}

.padding_top_medium {
  padding-top: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
}